.CourseTopic {
    width: 100vw;
}

.CourseTopic_header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.logo > img {
    width: 91px;
    height: 34px;
    margin-left: 40px;
}

.CourseTopic_header2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.CourseTopic_header2 > button {
    color: white;
    cursor: pointer;
    height: 40px;
    width: 200px;
    background-color: #a435f0;
    border-radius: 5px;
}

.CourseTopic_header2 > button:hover {
    background-color: #8827c9;
}

.dialogContent_p {
    align-items: center;
    margin-bottom: 40px;
    padding-left: 100px;
    color: black;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.input > input {
    flex: 1;
    padding-left: 10px;
    height: 40px;
    width: 100%;
    font-size: 20px;
}

.courseDetails_closeButton {
    display: flex;
    border-right: 1px solid lightgray;
}
.courseDetails_closeButton > h2 {
    margin-top: 0px;
    padding-left: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0px;
}

.CourseButton {
    color: white;
    cursor: pointer;
    height: 40px;
    width: 100%;
    font-size: large;
    background-color: #a435f0;
    border-radius: 5px;
}

.CourseButton:hover {
    background-color: #8827c9;
}

.CourseTopic_feed {
    display: flex;
    padding: 40px;
    width: 50%;
    flex-direction: column;
    position: absolute;
    background: #fff;
}

.CourseTopic_feed_body {
    cursor: pointer;
    position: relative;
    display: flex;
    border: 1px solid lightgray;
}

.CourseTopic_feed_h {
    border-right: 1px solid lightgray;
    width: 50px;
}

.CourseTopic_feed_h > h2 {
    color: black;
}

.CourseTopic_feed_description {
    color: #1c1d1f;
    min-width: 1px;
    position: relative;
    padding: 10px;
}

.CourseTopic_description_p {
    font-weight: 500;
    font-size: x-large;
    margin-bottom: 10px;
    padding-top: 10px;
}

.input {
    padding-bottom: 20px;
}

.input > label {
    color: black;
    font-size: medium;
    margin-bottom: 100px;
}
